/* main.css */

body {
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    height: 100vh;
    background-color: #275243;
    display: flex;
    flex-direction: column; /* Ensure content stacks vertically */
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.banner nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
}

.banner nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.banner nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.banner nav ul li:last-child {
    margin-right: 0;
}

.banner nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.banner nav ul li a:hover {
    color: #ffc107; /* Change color on hover */
}

.banner-content {
    max-width: 600px;
    margin: 0 auto;
}

.banner-content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 18px;
    margin-bottom: 30px;
}

.banner-content .buttons {
    display: flex;
    justify-content: center;
}

.banner-content .buttons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
